.movie:hover {
    cursor: pointer;
    display: block;
}

.movie {
    text-decoration: none;
    position: relative;
}

.movie__trailer {
    text-decoration: none;
}

.movie-item {
    position: relative;
}

.mvoie-item:hover .movie__button_type_remove {
    display: block;
}


.movie__button {
    position: absolute;
    cursor: pointer;
    bottom: 45px;
    right: 0px;
    background-size: contain;
    border: none;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
}


.movie__description {
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding: 14px 0 0;
    align-items: top;
    min-height: 45px;
}

.movie__img {
    width: 100%;
    object-fit: cover; 
    aspect-ratio: 1/.561;
}

.movie__title {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: #000;
    letter-spacing: 0px;
    text-align: left;
    color: #000;
    width: calc(100% - 44px);
}

.movie__duration {
    padding: 6px 0 0;
    color: #A0A0A0;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0px;
    text-align: left;
}

.movie__button_type_saved {
    background: url('../../images/save-button.svg');
}

.movie__button_type_not-saved {
    background: url('../../images/not-saved.svg');
}

.movie__button_type_delete {
    background: url('../../images/delete-button.svg');
}

@media screen and (max-width: 600px) {
    .movie__title {
        font-size: 12px;
        line-height: 1.2;
    }

    .movie__duration {
        font-size: 10px;
    }
}