.profile {
    padding-top: 74px;
    padding-bottom: 70px;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 74px);
    display: flex;
    justify-content: center;
}

.profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 396px;
    width: 100%;
}

.profile__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    height: min-content;
    text-align: center;
    padding: 0;
    margin: 0;
}

.form_place_profile {
    margin-top: 123px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.form__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    margin: 0;
    padding-bottom: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #E8E8E8;
    font-weight: 500;
    font-size: 11px;
    line-height: 13.31px;
}

.field_type_last {
    border: none;
    min-width: min-content;
}

.form__input_place_profile {
    font-weight: 400px;
    width: 80%;
    padding: 0;
    text-align: right;
    border: none;
}

.form__input:focus {
    outline: none;
    border-bottom: 1px solid #3456F3;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0;
}

.buttons_place_profile {
    margin: 220px 0 0;
}

.buttons__item {
    list-style-type: none;
    text-align: center;
}

.form__button {
    background: none;
    border: none;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
}

.form__button_type_logout {
    color: #FF3055;
}

@media screen and (max-width: 900px) {
    .form_place_profile {
        margin-top: 96px;
    }

    .profile__container {
        max-width: 410px;
    }

    .buttons_place_profile {
        margin: 210px 0 0;
    }
}

@media screen and (max-width: 600px) {
    .form_place_profile {
        margin-top: 80px;
    }

    .profile__container {
        max-width: 80%;
    }

    .buttons_place_profile {
        margin: 379px 0 0;
    }
}