.app {
    background-color: #FFFFFF;
    min-height: 100vh;
    min-width: 320px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: 'Inter', Arial, sans-serif;
  }
  
  .link {
    transition: opacity .3s;
  }
  
  .link:hover {
    opacity: .7;
    cursor: pointer;
  }
  
  .button {
    transition: all .3s;
  }
  
  .button:hover {
    opacity: .8;
    cursor: pointer;
  }