.navigation {
    width: 100%;
    padding: 0;
    display: flex;
}

.navigation__links {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
    gap: 16px;
}

.navigation__list {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    list-style-type: none;
    z-index: 3;
    padding: 0;
    margin: 0;
    width: 100%;
    transition: all .3s;
}

.navigation__list_type_auth {
    justify-content: right;
    gap: 30px;
}

.navigation__account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: #000;
    border-radius: 40px;
    min-height: 32px;
    min-width: 100px;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    padding: 3px 3px 3px 11px;
    margin-left: 16px;
    box-shadow: 0px 3px 14px 0px #00000014;
    border: none;
    text-decoration: none;
}

.navigation__account_theme_green {
    background-color: #2BE080;
}

.navigation__account_theme_light {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 14px 0px #00000014;
}

.account-icon {
    background-color: #F9F9F9;
    background-image: url('../../images/profile.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    height: 26px;
    border-radius: 50px;
}

.navigation__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    color: inherit;
}

.navigation__link_active_desktop {
    font-weight: 500;
}

.navigation__link_active_mobile {
    border-bottom: 2px solid #000;
}

.navigation__link_type_auth {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}

.navigation__link_type_signin {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: black;
    background-color: #3ddc84;
    min-height: 32px;
    min-width: 76px;
    border-radius: 3px;
}

@media screen and (max-width: 880px) {
    .navigation__item>.navigation__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.21;
        color: #000;
    }

    .navigation__list_logged {
        flex-direction: column;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 68%;
        background-color: #fff;
    }

    .navigation__links {
        color: #000;
        flex-direction: column;
        justify-content: start;
        gap: 28px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.21;
    }

    .navigation__link_type_account {
        margin: 0;
    }

    .navigation__item:last-child {
        margin: auto 0 90px 0;
    }

    .navigation__item:first-child {
        margin-top: 159px;
    }

    .navigation__list_state_opened {
        right: 0;
        visibility: visible;
    }

    .navigation__list_state_closed {
        visibility: hidden;
        right: -100%;
    }

    .navigation_state_opened {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .3);
        width: 100%;
        height: 100vh;
        justify-content: flex-end;
        transition: all .3s;
        z-index: 3;
    }

    .navigation_state_closed {
        position: static;
    }
}

@media screen and (max-width: 580px) {
    .navigation__links {
        gap: 24px;
    }

    .navigation__link_type_auth {
        font-size: 10px;
        line-height: 16px;
    }

    .navigation__link_type_signin {
        min-width: 54px;
        min-height: 26px;
    }

    .navigation__list_logged {
        width: 100%;
    }

    .navigation__item:first-child {
        margin-top: 144px;
    }

    .navigation__item:last-child {
        margin-bottom: 46px;
    }
}