.filter {
    position: relative;
    cursor: pointer;
    transition: all .3s;
    min-width: 34px;
    min-height: 14px;
    height: min-content;
}

.checkbox {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
}

.filter:hover {
    opacity: .7;
}

.filter__checkbox {
    position: absolute;
    appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.filter__checkbox::after {
    content: '';
    position: absolute;
    background-color: #ebebeb;
    border-radius: 20px;
    width: 34px;
    height: 14px;
}

.filter__checkbox:focus {
    border-radius: 20px;
}

.checkbox__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.filter__tumbler {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 3px;
    right: 3px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 20px;
    transition: all .3s ease;
}

.filter__checkbox:checked+.filter__tumbler {
    left: 21px;
}

.filter__checkbox:checked::after {
    background-color: #3ddc84;
}

@media screen and (max-width: 900px) {
    .checkbox {
        flex-direction: row-reverse;
        gap: 16px;
    }
}

@media screen and (max-width: 600px) {
    .checkbox__text {
        font-size: 11px;
    }
}