.about-me {
    padding-top: 110px;
    padding-bottom: 100px
}

.about-me__container {
    flex-direction: column;
}

.about-me__info {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    gap: 50px;
}

.about-me__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me__subtitle {
    margin: 0 0 18px;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.about-me__job {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 26px;

}

.about-me__about {
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    max-width: 600px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.about-me__link {
    color: #000;
    text-decoration: none;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.about-me__pic {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    object-fit: cover;
}


@media screen and (max-width: 880px) {
    .about-me {
        padding-top: 90px;
        padding-bottom: 90px
    }

    .about-me__subtitle {
        margin: 0 0 16px;
        font-size: 40px;
        line-height: 1;
    }

    .about-me__job {
        font-size: 12px;
        line-height: 1.5;
        margin: 0 0 20px;
    }

    .about-me__pic {
        width: 255px;
        height: 307px;
    }

    .about-me__about {
        font-size: 12px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 580px) {
    .about-me {
        padding-top: 70px;
        padding-bottom: 70px
    }

    .about-me__info {
        margin-top: 60px;
        gap: 40px;
        flex-direction: column-reverse;
    }

    .about-me__text {
        gap: 40px;
    }

    .about-me__subtitle {
        margin: 0 0 20px;
        font-size: 30px;
        line-height: 1.2;
    }

    .about-me__job {
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__pic {
        width: 100%;
        height: auto
    }

    .about-me__description {
        font-size: 11px;
        line-height: 16px;
    }

}